<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Tables</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Bookmark Application</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user_tables}">Bookmark</a>
      </li>
    </ul>
  </div>
</nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card", style="color: red;">

                <h1 class="text-center">Create New User</h1>
                <div class="card-body">
                    <form th:action="@{/user_table}" th:object="${user_table}" method="POST">
                        <div class="form-group">
                            <label>User ID</label>
                            <input
                                type="text"
                                name="user_id"
                                th:field="*{user_id}"
                                class="form-control"
                                placeholder="Enter User ID"
                            />
                        </div>
                        <div class="form-group">
                            <label>User Name</label>
                            <input
                                type="text"
                                name="user_name"
                                th:field="*{user_name}"
                                class="form-control"
                                placeholder="Enter User Name"
                            />
                        </div>
                        <div class="form-group">
                            <label>Last Updated Date</label>
                            <input
                                type="text"
                                name="last_updated_date"
                                th:field="*{last_updated_date}"
                                class="form-control"
                                placeholder="Enter Last Updated Date"
                            />
                        </div>
                        <div class="form-group">
                            <label>Last Updated User</label>
                            <input
                                type="text"
                                name="last_updated_user"
                                th:field="*{last_updated_user}"
                                class="form-control"
                                placeholder="Enter Last Updated User"
                            />
                        </div>
                        <div class="form-group">
                            <label>Last Transaction ID</label>
                            <input
                                type="text"
                                name="last_transaction_id"
                                th:field="*{last_transaction_id}"
                                class="form-control"
                                placeholder="Enter Last transaction iD"
                            />
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>